---
layout: landing
title: A Brief Compendium of Self
---

<h1>{{ page.title }}</h1>
<p class="author">Valentin Imbach</p>
<p class="date">{{ site.time | date: '%-d %B %Y' }}</p>
  
<div class="abstract">
    <p class="abstractTitle">Abstract</p>
    <p class="abstractText">
        I am a PhD candidate at EPF Lausanne, working on complexity theory
        under <a href = "https://ic-people.epfl.ch/~goos/">Mika Göös</a>.
        I did my undergrad at the University of Cambridge, specialising in mathematical
        logic and computation theory. In my spare time I write code, play sports and occasionally create music.
    </p>
</div>

<figure class = "portrait">
    <img src="assets/images/me.jpg">
    <figcaption>Figure 1: Me</figcaption>
</figure>

<h2>Contents</h2>

{% assign page_numbers = "2,3,5,7,11,13,17,19,23,29,31" | split: ',' %}
{% assign index = 0 %}

{% for item in site.data.navigation %}
    {% assign section = forloop.index %}
    <div class = "toc-header">
        <div class = "toc-title">{{ section }} &ensp; {{ item.header }}</div>
        <div class = "toc-line"></div>
        <div class = "toc-pn">{{ page_numbers[index] }}</div>
    </div>
    {% assign index = index | plus: 1 %}
    {% for entry in item.entries %}
        <div class = "toc-entry">
            <div class = "toc-title">{{ section }}.{{ forloop.index }} &ensp; <a href = "{{ entry.link }}">{{ entry.title }}</a></div>
            <div class = "toc-line"></div>
            <div class = "toc-pn">{{ page_numbers[index] }}</div>
        </div>
        {% assign index = index | plus: 1 %}
    {% endfor %}
{% endfor %}


