---
layout: page
title: Problem Portfolio
---

This is a collection of some of my original problems that appeared at past mathematical competitions. For some of them, partial credit goes to my deer colleagues at the Swiss Mathematical Olympiad whom I can always rely on to find ways around my intended solutions. Problems are stated as they appeared in the competition.

{% assign count = site.portfolio | size %}
<p><strong>Problem count: {{ count }}</strong></p>

{% assign years = site.portfolio | group_by: 'year' | sort: 'name' | reverse %}
{% for year in years %}
  <h3>{{ year.name }}</h3>
  {% for problem in year.items %}
    <strong>{{ problem.exam }} {{ problem.year }}{% if problem.version %} ({{ problem.version }}){% endif %} – Problem {{ problem.number }}</strong>
    {{ problem.content }}
    <br>
  {% endfor %}
{% endfor %}
  