
$base: #FFFFFF;
$texture: #F9E2AF;
$contrast: #4A249D;
$highlight: #009FBD;

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
	background-color: $base;

	main {
		margin: 50px 10%;
		min-height: 100vh;
	
		a {
			color: $contrast;
			transition: color 0.3s;
			&:hover {
				color: $highlight;
			}
		}
	}
}

h2 {
	margin-bottom: 0;
	color: $contrast;
	&::after {
		content: "";
	    display: block;
	    width: 100%;
	    height: 2px;
	    background-color: $contrast;
	    margin: 5px 0;
	}
}

h3 {
	margin-bottom: -10px;
}


.intro {
	display: flex;
	justify-content: space-between;
	height: 300px;
	.intro-text {
		width: 50%;
		h1 {
			font-size: 40px;
			line-height: 0px;
		}
	}
	.intro-pic {
		width: 50%;
		text-align: center;
		img {
			height: 100%;
			margin: auto;
		}
	}
}

.section {
	margin: 40px 0px;
}

header {
	padding: 0px;
	background-color: $base;
}

nav {
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid;
	a {
		float: left;
		padding: 20px;
		color: black;
		text-decoration: none;
		transition: color 0.3s;
		&.current {
			font-weight: bold;
		}
		&:hover {
			color: $highlight;
		}
	}
}

.resume {
	.resume-entry {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 5px;
	}
	.resume-left {
		width: 200px;
	}
	.resume-right {
		width: 500px;
	}
}

.tab {
	display: block;
	margin: 20px 0px;
	.tab-label {
		text-align: center;
		cursor: pointer;
		font-size: x-large;
		font-weight: bold;
		color: white;
		&:hover {
			color: gray;
		}
	}
	.tab-content {
		display: none;
		margin-top: 10px;
	}
	input {
		display: none;
		&:checked {
			~ .tab-content {
				display: block;
			}
			~ .tab-label {
				color: white;
			}
		}
	}
}

.tiles {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	div {
		width: 300px;
		height: 370px;
		margin: 20px 80px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	h3 {
		margin: 0px;
		font-weight: bold;
	}
}


.contacts {
	div {
		display: flex;
		margin: 5px 0px;
	}
	.contact-name {
		width: 100px;
		font-weight: bold;
	}
}

footer {
	background-color: $base;
	border-top: 1px solid;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;

	a {
		color: grey;
		text-decoration: none;
		&:hover {
			color: $highlight;
		}
	}
}

